.category-list-item {
    position: relative;
    height: 32px;
    line-height: 32px;
    border-bottom: #f5f5f5 1px solid;
}

.category-list-item-link {
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
    color: #333;
    text-decoration: none;

    &:hover {
        height: 100%;
        background: #f9f9f9;
        color: #c00;
    }
}

.category-list-item-name {
    font-size: 13px;
    font-weight: 600;
}

.category-list-item-icon {
    font-size: 10px;
}
