.toolbars-top {
    background-color: #333;

    .current {
        color: #141414;
        background-color: #fff;
        font-weight: 400;
    }
}

.toolbars-margin {
    width: 1100px;
    margin: 0 auto;
}

.link {
    display: inline-block;
    text-decoration: none;
    padding: 8px 15px;
    text-align: center;
    color: #ddd;
    cursor: pointer;

    &:hover {
        color: #fff;
    }
}

.img-gif {
    position: relative;
    left: -38px;
    top: -7px;
    border-radius: 10px;
}