.wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 200px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 1px 2px 6px rgba(0,0,0,.5);
    overflow-y: hidden;
}

.sub-list {
    width: 300px;
    max-height: 250px;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.wrapper.display {
    display: block;
}

.sub-item {
    list-style: none;
}

.sub-item:hover {
    background: #f9f9f9;
}

.sub-item:hover .sub-item-name {
    color: #c00;
}

.sub-item a {
    margin-left: 10px;
    text-decoration: none;
}

.sub-item-icon {
    height: 15px;
    width: 15px;
}

.sub-item-name {
    color: #1a1a1a;
    font-weight: 600;
    font-size: 14px;
    margin-left: 8px;
}

.sub-item-amount {
    color: #aaa;
    float: right;
    font-size: 11px;
    margin-right: 10px;
}