.header-address {
    position: relative;
    width: 80px;
    max-width: 128px;
    height: 32px;
    padding: 0 8px;
    border: 1px solid var(--backGround-color);
    border-radius: 3px;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: var(--backGround-color);
    }
}

.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-address-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50px;
    max-width: 85px;
    line-height: 31px;
    font-size: 12px;
    color: #777;
}

.header-address-icon::before {
    content: "";
    position: absolute;
    border-top: 4px solid #333;
    border-left: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 4px solid transparent;
    top: 15px;
    right: 8px;
}

.header-address-list {
    position: absolute;
    top: 40px;
    left: 0;
    min-width: 260px;
    min-height: 220px;
    background: #fff;
    text-align: left;
    box-shadow: 1px 2px 6px rgba(0,0,0,.5);
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        top: -14px;
        left: 46px;
        border-top: 8px solid transparent;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid var(--backGround-color);    
        z-index: 2;
    }
}

.city {
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    border-bottom: 2px solid #ccc;
    background-color: var(--backGround-color);
}

.city-title {
    margin-left: 4px;
    font-weight: 600;
}
