.filter-submit {
    height: 60px;
    padding: 15px 0;
    text-align: center;
}

.filter-search,
.filter-delet {
    width: 100px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #e2e2e2;
}

.filter-search {
    background: #049ec5;
    color: #fff;
    margin-right: 4px;
}

.filter-delet {
    margin-left: 4px;
    background-color: #eee;
}
